.countdownTimer {
    background-color: var(--orange);
    color: var(--black);

    @include large {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;


        @include medium {
            gap: 2rem;
        }

        @include large {
            align-items: center;
            justify-content: space-between;
            gap:0;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
        font-size: 1rem;
        font-family: var(--bodyFont);

        @include large {
            font-size: 1.5rem;
        }

        &.countdownTimer__unitSeperator {
            font-size: 2rem;
            line-height: 90%;
            font-family: var(--headingFont);
            margin-bottom: 2.5rem;

            @include medium {
                // margin-bottom:-2rem;
                margin-bottom: 2rem;

            }

            @include large {
                font-size: 3rem;
                line-height: 0;
                margin-bottom: 2rem;
            }
        }
    }

    span:not(.countdownTimer__unitPlural) {
        display: block;
    }
}

.countdownTimer__unitPlural {
    &.hide {
        display: none;
    }
}

.countdownTimer__innerWrap {
    padding: 3rem 0;
}

.countdownTimer__title {
    text-align: center;
    font-family: var(--bodyFont);
    font-weight: normal;
    font-size: 1.5rem;
}

.countdownTimer__unit {
    font-size: 2rem;
    line-height: 100%;
    font-family: var(--headingFont);

    @include medium {
        font-size: 4rem;
    }

    @include large {
        font-size: 8rem;
    }
}