.plotButton {
	background: var(--primaryColor);
	color: var(--black);
	padding: 0.7rem 1rem;
	font-family: var(--headingFont);
	display: inline-block;
	text-align: center;
	border-radius: .8rem;
	text-transform: uppercase;
	&.selected {
		background: grey;
	}
}


.button {
	background-color: var(--mint);
	color: var(--black);
	border-radius: 8px;
	padding: 1rem 1.5rem;
	display: inline-block;
	text-transform: uppercase;

	&:hover {
		transform: scale(1.02);
	}
	
	@include small-only {
		
		width: 100%;
		min-width: 240px;
	}
}