// Theme Setting

.homeBanner__asset.homeBanner__asset--1 path
.homeBanner__asset.homeBanner__asset--2 path,
.homeBanner__title,
.mainMenu a,
.siteMainHeader__logo path,
.menuToggle--burger path {
    transition: color .2s ease-in-out, fill .2s ease-in-out, background-color .2s ease-in-out;
}

body.home {
    .homeBanner:after {
        background-color: var(--darkBlack);
    }

    .homeBanner:before {
        background-color: var(--darkBlack);
    }

    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }

    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    .homeBanner__asset.homeBanner__asset--1 path {
        fill: var(--southFacingPurple);
        transition: fill 1s ease-out;
    }

    .homeBanner__asset.homeBanner__asset--2 path {
        fill: var(--southFacingPurple);
        transition: fill 1s ease-out;
    }

    .mobile3D__screen:after {
        background-image: url(../img/heros/south-facing/Screen.jpg); 
    }

    &[data-current-theme] .homeBanner__asset.homeBanner__asset--1 path,
    &[data-current-theme] .homeBanner__asset.homeBanner__asset--2 path {
        fill: rgba(255,255,255,0.1);
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after,
    .mobile3D__side--right:before,
    .mobile3D__side--right:before {
        background-size: 100% 100%;
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after {
        background-image: url(../img/heros/south-facing/Right.jpg);
    }
}

// 
// South facing
// 
body.home[data-previous-theme="home"],
body.home[data-previous-theme="southfacing"],
body.home[data-previous-theme="southfacing"]  {
    .homeBanner:before {
        background-color: var(--navy);
    }
    
    .mobile3D__screen:before {
        background-image: url(../img/heros/south-facing/Screen.jpg);
    }

     .mobile3D__side--right:before
    {
        background-image: url(../img/heros/south-facing/Right.jpg);
    }
    .mobile3D__side--left:before {
        background-image: url(../img/heros/south-facing/Left.jpg);
    }
}

// 
// Brock Well
// 
body.home[data-current-theme="brockwell"] {
    .homeBanner:after {
        background-color: #F7CD47;
    }

    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: var(--white);
    }

    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: var(--white);
    }

    .mobile3D__screen:after {
        background-image: url(../img/heros/brock-well/Screen.jpg);
    }

    .mobile3D__side--right:after
    {
        background-image: url(../img/heros/brock-well/Right.jpg);
    }
    .mobile3D__side--left:after {
        background-image: url(../img/heros/brock-well/Left.jpg);
    }

}

body.home[data-previous-theme="brockwell"] {
    .homeBanner:before {
        background-color: #F7CD47;
    }

    .mobile3D__screen:before {
        background-image: url(../img/heros/brock-well/Screen.jpg);
    }

    .mobile3D__side--right:before { background-image: url(../img/heros/brock-well/Right.jpg) }
    .mobile3D__side--left:before { background-image: url(../img/heros/brock-well/Left.jpg) }

}

// 
// Mighty Hoopla
// 
body.home[data-current-theme="mightyhoopla"] {
    .homeBanner:after {
        background-color: #6908CF;
    }

    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }

    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    .mobile3D__screen:after {
        background-image: url(../img/heros/mighty-hoopla/Screen.jpg);
    }

    .mobile3D__side--right:after
    {
        background-image: url(../img/heros/mighty-hoopla/Right.jpg);
    }
    .mobile3D__side--left:after {
        background-image: url(../img/heros/mighty-hoopla/Left.jpg);
    }

}

body.home[data-previous-theme="mightyhoopla"] {
    .homeBanner:before {
        background-color: #6908CF;
    }

    .mobile3D__screen:before {
        background-image: url(../img/heros/mighty-hoopla/Screen.jpg);
    }

     .mobile3D__side--right:before
    {
        background-image: url(../img/heros/mighty-hoopla/Right.jpg);
    }
    .mobile3D__side--left:before {
        background-image: url(../img/heros/mighty-hoopla/Left.jpg);
    }
}

//
// africaoye
// 
body.home[data-current-theme="africaoye"] {
    .homeBanner:after {
        background-color: #FFBD00;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(3, 5, 0, 45deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/heros/africa-oye/Screen.jpg);
    }

    .mobile3D__side--right:after
    {
        background-image: url(../img/heros/africa-oye/Right.jpg);
    }
    .mobile3D__side--left:after {
        background-image: url(../img/heros/africa-oye/Left.jpg);
    }
}

body.home[data-previous-theme="africaoye"]  {
    .homeBanner:before {
        background-color: #FFBD00;
    }

    .mobile3D__screen:before {
        background-image: url(../img/heros/africa-oye/Screen.jpg);
    }

     .mobile3D__side--right:before
    {
        background-image: url(../img/heros/africa-oye/Right.jpg);
    }
    .mobile3D__side--left:before {
        background-image: url(../img/heros/africa-oye/Left.jpg);
    }
}
